#AuthUserFile /var/www/materiaabierta.com/.htpasswd
#AuthName "www"
#AuthType Basic
#Require valid-user

Options +FollowSymLinks -Indexes

php_value upload_max_filesize 40M
php_value post_max_size 42M

ErrorDocument 403 "you don't even *go* here."

#--- START Rewrites

RewriteEngine On

# direct everything to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [L]

#--- END Rewrites
# php_value display_errors On
